/*AQUI INICIA MI BODY*/
#body {
    font-family: 'DotGothic16', sans-serif;
    font-size: 40px;
    position: relative;
    padding: 0; 
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow-x: hidden
}

textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

button:focus-visible{
    outline: -webkit-focus-ring-color auto 0px;
}

::-webkit-scrollbar{
    width: .4vw;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
    border: 1px solid #0f0;
}

/*ESTE ES MI LOGO*/
h1 a{
    color: #0f0;
    font-size: 2em;
    position: absolute;
    margin: .5em;
    padding: .15em .5em .45em .5em;
    border-radius:50px;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 0 20px 0px rgb(0, 255, 0);
    text-decoration:none;
}

h1 a:hover{
    box-shadow: 0 0 20px 2px rgb(0, 255, 0);
    scale: 1.1;
    margin: .5em;
}

/*ESTE ES MI FONDO*/
#canvas {
    width: 100vw;
    height: 99.6vh;
    padding: 0px;
    margin: 0px;
}
/*ESTE ES INGRESAR TEXTO*/

#ingresarTexto{
    position: absolute;
    width: 50vw;
    margin: 40vh 5vw 0 5vw;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
}

#ingresarTexto label{
    box-sizing: border-box;
    background-color: #111;
    color: #777;
    border: 2px solid #444;
    font-size: .5em;
    border-radius: 90px;
    margin: 1vh 5vw;
    padding: 2px 5px;
    font-size: .3em;
    text-align: center;
}

#ingTextAqui{
    font-family: 'DotGothic16', sans-serif;
    background-color:rgba(0, 0, 0,.7);
    color: #00ff00;
    border: 1px solid #0f0;
    width: 100%;
    font-size: .7em;
    box-sizing: border-box;
    padding: .5em;
    resize: vertical;
    text-align: center;
    height: 20vh;
}

::placeholder {
    text-align: center;
    box-sizing: border-box;
}

/*BOTON DE BORRAR*/

#borrar{
    box-sizing: border-box;
    position: absolute;
    color: #00ff00;
    scale: 1.5;
    background-color: rgba(0, 0, 0, 0);
    margin: 5.5vh auto auto 46vw;
    border:none;
    border-radius: 20px;
}

#borrar:hover{
    scale: 1.5;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#borrar:active{
    background-color: rgba(0, 0, 0, 0);
}

/*ESTE ES MI MENSAJE CIFRADO*/

.mensaje textarea{
    height: 80vh;
}

.mensaje{
    margin: 5vh 5vw 5vh 60vw;
    width: 35vw;
    position: absolute;
    box-sizing: border-box;
}

.crypto{
    font-family: 'DotGothic16', sans-serif;
    background-color:rgba(0, 0, 0,.7);
    color: #00ff00;
    border: 1px solid #0f0;
    width: 100%;
    font-size: .7em;
    padding: .5em;
    box-sizing: border-box;
    display: compact;
    text-align: center;
}

/*IMAGEN*/

#imagen{
    position: absolute;
    margin: 30vh 15vw 15vh 14vw;
    opacity: .3;
    width: 10vw;
    visibility: visible;
}

/*ESTO SON MIS BOTONES DE ENCRIPTAR*/
.botones{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    width: 50vw;
    margin: 80vh 45vw auto auto;
    position: absolute;
    padding: 1%;
}

.boton{
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    color: #00ff00;
    font-size: .6em;
    text-align: center;
    padding: 1%;
    width: 20vw;
    background-color: rgba(0, 0, 0,.7);
    margin: 1vh auto auto 8vw;
    border:2px solid #00ff00;
    transition: .4s all;
}

button:hover{
    box-shadow: 0px 0px 20px 2px #0f0;
    color: #0f0;
    border:2px solid #0f0;
    cursor: pointer;
    scale: 1.05;
    background-color: rgba(0, 0, 0,.7);
    
}

button:active{
    background-color:rgba(0, 255, 0,.2);
    border:2px solid #0f0;
}

/*AQUI ES LA PARTE DE BONTON DE COPIAR*/

.copiar{
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    color: #00ff00;
    font-size: .6em;
    text-align: center;
    padding: 1%;
    background-color: rgba(0, 0, 0,.7);
    margin: 4vh 0 0 0;
    border:2px solid rgb(0, 255, 0);
    transition: .4s all;
    width: 100%;
}

/*PIE DE PAGINA*/

.pie{
    text-align: center;
    width:98%;
    background: rgb(0, 0, 0);
    padding: 2%;
}

.pie a{
    text-decoration: none;
    color: rgba(0, 255, 0, .5);
    font-size: .4em;
    transition: .3s all;
}

.pie a:hover{
    color:#00ff00;
}


/*ESTA ES LA VIEWPORT*/
@media screen and (max-width:912px){
    #body{
        font-size: 25px;
    }

    #canvas{
        width: 100vw;
        height: 122vh;
    }

    /*INGRESAR TEXTO*/

    #ingresarTexto{
        width: 90vw;
        margin: 20vh 5vw 0 5vw;
    }

    #ingTextAqui{
        font-size: 5vw;
    }

    /*BOTONES DE ENCRIPTADO*/
    
    .botones{
        flex-wrap: wrap;
        width: 100vw;
        margin: 47vh 0 0 0;
    }
    
    .boton{
        margin: 1vh 5vw;
        width: 90vw;
        font-size: 3vw;
    }
    
    /*MENSAJE SECRETO*/

    .mensaje{
        margin: 63vh 6vw 5vh 6vw;
        width: 88vw;
    }
    
    .mensaje textarea{
        height: 50vh;
    }

    .crypto{
        font-size: 5vw;
    }
    
    /*BOTON DE COPIAR*/

    .copiar{
        width: 88vw;
        margin: 2vh 0 1vh 0;
        font-size: 3vw;
    }
    
    /*IMAGEN*/

    #imagen{
        margin: 15vh 38vw 5vh 32vw;
        width: 30%;
        height: 30%;
    }

    /*BOTON DE BORRAR*/

    #borrar{
        margin: 5.5vh auto 0 89%;
    }
}
